

h1 {
  text-align: center;
  margin-bottom: 3%;
}

.alinhar{
  max-width: 80%;
  align-self: center;
 
}


main{
  margin-top: 2%;
}

.alinhar button{
  color: white;
  background-color: green;
}



.list-group{
max-width: 80%;
}

img{
  width: 1.25rem;
  max-height: 1.25rem;
  max-width: 1.25rem;
}

.list-group-item{
  display: flex;
  flex-direction: row;
  gap: 3.125rem;
  
}



@media (max-width: 521px) {
  .list-group{
    max-width: auto;
  }


  .alinhar{
    max-width: auto;
    
  }
}